Repository ladybug-tools/ladybug-comfort, pull requests merged in 2019-10, with the labels that each got.

#41 Add Humidex Calculation
  ladybug_comfort/hi.py
  ladybug_comfort/humidex.py
  tests/humidex_test.py
Labels: comfort, hacktoberfest, ladybug

#45 fix(travis): update version of node to 12
  .travis.yml
Labels: bug, comfort, critical, ladybug

#44 feat(at): Added apparent temperature(AT).
  ladybug_comfort/apparent.py
  tests/apparent_test.py
Labels: comfort, hacktoberfest, ladybug, new development
